body {
  margin: 0;
  font-family: Poppins;  
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
